body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  min-width: 320px;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
