body {
  margin: 0;
  font-family: 'Poppins-Regular', sans-serif;
  color: var(--secondary-color);
  background-color: var(--primary-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
