.header {
  display: flex;
  justify-content: right;
  padding: 12px 24px;
  text-align: center;
  flex-shrink: 0;
}

.header.light,
.header.violet{
  background-color: #fcfcfc;
}

.header.dark{
  background-color: var(--secondary-color);
}
