@font-face {
  font-family: 'Poppins-Regular';
  font-weight: 400;
  src: url('../../fonts/static/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  font-weight: 500;
  src: url('../../fonts/static/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Semibold';
  font-weight: 600;
  src: url('../../fonts/static/Poppins-SemiBold.ttf') format('truetype');
}
