:root {
  --primary-color: #f6f6f6;
  --secondary-color: #1b1b1b;
  --section-gray-color: #7e847f;

  --accent-color: #7e847f;

  --section-bgr-color: #e8e8e8;
  --table-header-color: #ffffff;

  --btn-accent-color: #5f6560;

  --status-online-color: #1cd71c;
  --status-offline-color: #ff0000;

  --active-menu-color: #ff0000;

  --accent-color-gold: #e7b250;

  --green-light: #bedbb0;
  --green: #9dc888;
  --blue: #8fa1d0;
  --red: #e09cb5;
  --black: #1f1f1f;
  --black-dark: #121212;

  --white: #fff;
  --gray: #f6f6f7;

  --violet: #121212;
  --violet-light: rgba(236, 237, 253, 0.4);
  --violet-main: #5255BC;
  --violet-main-light:#7B7EDE;

}
