.boardContainer {
  width: 100%;
  flex: 1;
  background-size: cover;
  background-position: center;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 14px 24px;
  backdrop-filter: blur(10px);
}

.title {
  font-family: 'Poppins-Medium';
  font-size: 18px;
  letter-spacing: -0.02em;
}

.title.dark {
  color: var(--white);
}

.title.light,
.title.violet {
  color: var(--secondary-color);
}

.columnsWrapper {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}
