.boardContainer {
  width: 100%;
  flex: 1;
  background-size: cover;
  background-position: center;
}

.boardContainer.dark {
  background-color: var(--black);
}

.boardContainer.light {
  background-color: var(--gray);
}

.boardContainer.violet {
  background-color: var(--violet-medium);
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 14px 24px;
  backdrop-filter: blur(10px);
}

.title {
  font-family: 'Poppins-Medium';
  font-size: 18px;
  letter-spacing: -0.02em;
}

.title.dark {
  color: var(--white);
}

.title.light,
.title.violet {
  color: var(--secondary-color);
}

.columnsWrapper {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  padding: 25px 32px 50px;
}

.contents {
  overflow-x: auto;
}

@media screen and (max-width: 767px) {
  .top {
    padding: 14px 20px;
  }
  .title {
    font-size: 14px;
  }
  .columnsWrapper {
    padding: 25px 20px 50px;
  }
}

@media screen and (max-width: 374px) {
}
