.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icon {
  fill: transparent;
  display: none;
}

.icon.dark {
  stroke: rgba(255, 255, 255, 0.5);
  display: block;
}
.icon.light,
.icon.violet {
  stroke: rgba(22, 22, 22, 0.5);
  display: block;
}

.colTitle {
  width: 334px;
  background-color: var(--white);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary-color);
}

.colTitle.dark {
  color: var(--white);
  background-color: var(--secondary-color);
}
.iconsWrap {
  display: flex;
  gap: 8px;
}
.btn {
  background-color: transparent;
  border: none;
}
.listContainer {
  overflow-y: auto;
  width: 350px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 478px;
}
.btnWrap {
  width: 334px;
}

.listContainer::-webkit-scrollbar {
  width: 8px;
  border-radius: 12px;
}
.listContainer.light::-webkit-scrollbar {
  background-color: var(--section-bgr-color);
}
.listContainer.violet::-webkit-scrollbar {
  background-color: var(--white);
}
.listContainer.dark::-webkit-scrollbar {
  background-color: var(--dark-scroll);
}
.listContainer::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 12px;
  height: 36px;
}

.listContainer.dark::-webkit-scrollbar-thumb {
  background-color: var(--black-dark);
}
.listContainer.light::-webkit-scrollbar-thumb {
  background-color: rgba(22, 22, 22, 0.1);
}

.listContainer.violet::-webkit-scrollbar-thumb {
  background-color: var(--violet-main-superlight);
}

@media screen and (max-width: 374px) {
  .column {
    width: calc(100vw - 40px);
  }

  .colTitle {
    width: 100%;
  }
  .btnWrap {
    width: 100%;
  }
  .list {
    width: 100%;
  }
}
