@keyframes appear {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.popupDiv {
  /* background: #1f1f1f; */
  color: rgba(255, 255, 255, 0.5);
  min-width: 135px;
  /* height: 86px; */
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15); */
  opacity: 0;
  animation: appear 1s 1;
  animation-fill-mode: forwards;
  display: inline-flex;
  padding: 18px;
  justify-content: center;
  align-items: center;
}

.popupDiv.dark {
  background-color: var(--dark-grey);
}

.popupDiv.light {
  background-color: rgba(255, 255, 255, 1);
}

.popupDiv.violet {
  background-color: rgba(255, 255, 255, 1);
}

.columnBtn {
  display: flex;
  /* background: #1f1f1f; */
  border-color: transparent;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 8px;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.2s;
}

.columnMenu li {
  display: flex;
  flex-direction: column;
}
.columnMenu li.active {
  stroke: rgb(190, 219, 176);
}

.arrow {
  stroke: rgba(255, 255, 255, 0.5);
  width: 16px;
  height: 16px;
}

.titleColumn {
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -0.28px;
  font-family: 'Poppins-Regular';
}

.titleColumn.dark {
  color: rgba(255, 255, 255, 0.5);
}

.titleColumn.light,
.titleColumn.violet {
  color: var(--secondary-color);
}

.titleColumn.light.active,
.titleColumn.dark.active {
  color: var(--green-light);
}

.titleColumn.violet.active {
  color: var(--violet-main);
}

.columnBtn:hover .titleColumn.dark,
.columnBtn:hover .titleColumn.light {
  color: var(--green-light);
}

.columnBtn:hover .titleColumn.violet {
  color: var(--violet-main);
}

.columnBtn:hover .arrow.dark,
.columnBtn:hover .arrow.light {
  stroke: var(--green-light);
}

.columnBtn:hover .arrow.violet {
  stroke: var(--violet-main);
}

.arrow {
  fill: transparent;
}

.arrow.dark {
  stroke: rgba(255, 255, 255, 0.5);
}

.arrow.light,
.arrow.violet {
  stroke: var(--secondary-color);
}

.arrow.dark.active,
.arrow.light.active {
  stroke: var(--green-light);
}

.arrow.violet.active {
  stroke: var(--violet-main);
}
