.title {
  font-family: 'Poppins-Medium';
  font-size: 18px;
  letter-spacing: -0.02em;
  text-align: left;
}

.title.light,
.title.violet,
.titles.light,
.titles.violet {
  color: var(--secondary-color);
}

.title.dark,
.titles.dark {
  color: var(--primary-color);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 24px;
  width: 352px;
  margin-bottom: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 8px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inputs.dark{
  color: var(--white); 
}

.avatar {
  width: 68px;
  height: 68px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.editAvatarButton {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 4px;
  color: var(--secondary-color);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.editAvatarButton.light {
  background-color: var(--green-light);
}

.editAvatarButton.dark {
  background-color: var(--green-light);
}

.editAvatarButton.violet {
  background-color: var(--violet-medium);
}

.iconUser {
  position: absolute;
  transform: translate(-50%, 10%);
  fill: var(--white);
}

.iconUser.dark {
  fill: var(--black-dark);
}

.userImgContainer {
  width: 68px;
  height: 68px;
  border-radius: 8px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.userImgContainer.light {
  background-color: var(--gray);
}

.userImgContainer.dark {
  background-color: var(--black);
}

.userImgContainer.violet {
  background-color: var(--violet-medium);
}

/* .avatar {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin-bottom: 10px;
} */

/* 
@media screen and (min-width: 768px) {
  .form {
    width: 500px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    margin-bottom: 28px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.editAvatarButton {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.editAvatarButton:hover {
  background-color: var(--accent-color);
  color: #fff;
} */
