.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 24px;
  padding-bottom: 60px;
}

.logoText {
  color: var(--white);
  font-family: 'Poppins-Semibold';
  font-size: 16px;
  letter-spacing: -0.04em;
}
