.container {
  margin-left: auto;
  margin-right: auto;
  background-color: #151515;
  width: 424px;
  min-height: 395px;
  padding: 40px;
  border-radius: 8px;
}

.loginContainer {
  min-height: 332px;
}

.link {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.linkActive {
  color: #fff;
}

.linkContainer {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 335px;
    /* min-height: 363px; */
    padding: 24px;
  }
}

@media screen and (max-width: 374px) {
  .container {
    margin: 0 20px;
    width: 100%;
  }
}
