.sidebar {
  width: 260px;
  min-height: 100vh;

  padding: 24px 0px;
}

.sidebar.dark {
  background-color: var(--black-dark);
  color: var(--white);
}

.sidebar.light {
  background-color: var(--white);
  color: var(--black-dark);
}

.sidebar.violet {
  background-color: var(--violet-main);
  color: var(--white);
}

.sidebarTitle {
  font-size: 12px;
  letter-spacing: -0.02em;
  padding-left: 14px;
}

.sidebarTitle.dark,
.sidebarTitle.violet {
  color: rgba(255, 255, 255, 0.5);
}

.sidebarTitle.light {
  color: rgba(22, 22, 22, 0.5);
}

@media screen and (max-width: 768px) {
  .sidebarBackdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(21, 21, 21, 0.5);
    display: none;

    position: fixed;
    left: 0;
    top: 0;

    z-index: 1000;
    overflow-y: scroll;
  }

  .sidebarBackdrop.open {
    display: block;
  }
}

@media screen and (max-width: 375px) {
  .sidebar {
    width: 225px;
    padding: 14px 0px;
  }
}
