body {
  background: url(../../img/bgr-desktop/theme04_desktop@1x.jpg) lightgray 50% / cover no-repeat;
}

.welcomeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* Висота вікна перегляду */
}


.logoPage {
  text-align: center;
}

.mainTitle {
  color: #161616;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.6px;
}
.text {
  color: #161616;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.28px;
}
