.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 24px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  padding: 24px;
  margin-bottom: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 8px;
}

.label,
.input {
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
}

.input {
  height: 40px;
  flex-shrink: 0;
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.error {
  font-size: 12px;
  color: #d70f0f;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .form {
    width: 375px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    margin-bottom: 28px;
  }
}
