.card {

    width: 334px;
    height: 154px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    padding: 14px 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background: var(--black-dark);
    border: none;
    border-left: 4px solid #8FA1D0;

}

.cardLine {
    margin-top: 14px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
}

.cardTitle {
    margin-top: 8px;
    font-family: 'Poppins-Semibold', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--table-header-color);
}

.cardDescription {
    margin-top: 8px;
    font-family: 'Poppins-Regular', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.02em;

    display: webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1rem;
    max-height: 2rem;


    color: rgba(255, 255, 255, 0.5);

}

.containerCard {
    width: 290px;

    outline: 1px solid;
}

.cardInfo {
    display: flex;
    gap: 14px;
    justify-content: flex-start;
}

.icon {
    display: flex;
    justify-content: flex-end;
}

.color {

    stroke: #fff;
}


.ellipse {



    stroke-width: 0;
    /* stroke: #ccc; */
    /* fill: #ccc; */
    width: 16px;
    height: 16px;
    position: absolute;


}

.cardDeadline {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    letter-spacing: -0.02em;
    color: var(--table-header-color);
}

.strongDeadline {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 8px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.5);
}

.cardPriority {
    width: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    letter-spacing: -0.02em;
    color: var(--table-header-color);
}

.strongPriority {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 8px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.5);
}

.bell {
    stroke: #BEDBB0;
    stroke-width: 2;
    fill: none;
}

.icon {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.cardSvg {
    display: flex;
}

.priorityContainer {
    position: relative;
}

.leftBar {
    margin: 0;

}