.card {
  width: 334px;
  height: 154px;
  border-radius: 8px;
  padding: 14px 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.card.dark {
  background-color: var(--black-dark);
  color: var(--white);
}
.card.light {
  background-color: var(--white);
  color: var(--secondary-color);
}
.card.violet {
  background-color: var(--white);
  color: var(--secondary-color);
}
.card.low {
  border-left: 4px solid #8fa1d0;
}

.card.medium {
  border-left: 4px solid #e09cb5;
}

.card.high {
  border-left: 4px solid #bedbb0;
}

.card.withoutPriority {
  border-left: 4px solid rgba(22, 22, 22, 0.3);
}
.card.withoutPriority.dark {
  border-left: 4px solid rgba(255, 255, 255, 0.3);
}

.cardTitle {
  font-family: 'Poppins-Semibold';
  font-size: 14px;
  letter-spacing: -0.02em;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.cardTitle.dark {
  color: var(--table-header-color);
}
.cardTitle.light {
  color: var(--secondary-color);
}
.cardDescription {
  margin-top: 8px;
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.02em;
  line-height: 1rem;
  height: 38px;
  width: 100%;
}
.cardDescription.dark {
  color: rgba(255, 255, 255, 0.5);
}
.cardDescription.light {
  color: rgba(22, 22, 22, 0.7);
}
.cardDescription.violet {
  color: rgba(22, 22, 22, 0.7);
}
.cardLine {
  margin: 14px 0;
  height: 2px;
  width: 100%;
}
.cardLine.dark {
  background-color: rgba(255, 255, 255, 0.1);
}
.cardLine.light {
  background-color: rgba(22, 22, 22, 0.1);
}
.cardLine.violet {
  background-color: rgba(22, 22, 22, 0.1);
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.cardInfo {
  margin-top: 8px;
  display: flex;
  gap: 14px;
  justify-content: flex-start;
}

.icon {
  display: flex;
  justify-content: flex-end;
}
.cardPriority {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -0.02em;
}

.priority {
  display: flex;
  gap: 4px;
}
.cardPriority.dark {
  color: var(--table-header-color);
}
.cardPriority.light {
  color: rgba(22, 22, 22, 0.5);
}
.cardPriority.violet {
  color: rgba(22, 22, 22, 0.5);
}
.strongPriority {
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 10px;
  letter-spacing: -0.02em;
}
.strongPriority.dark {
  color: rgba(255, 255, 255, 0.5);
}
.strongPriority.light {
  color: var(--secondary-color);
}
.strongPriority.violet {
  color: var(--secondary-color);
}
.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.circle.low {
  background-color: #8fa1d0;
}

.circle.medium {
  background-color: #e09cb5;
}

.circle.high {
  background-color: #bedbb0;
}
.circle.withoutPriority {
  background-color: rgba(22, 22, 22, 0.3);
}
.circle.withoutPriority.dark {
  background-color: rgba(255, 255, 255, 0.3);
}
.strongDeadline {
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -0.02em;
}
.strongDeadline.dark {
  color: rgba(255, 255, 255, 0.5);
}
.strongDeadline.light {
  color: var(--secondary-color);
}
.strongDeadline.violet {
  color: var(--secondary-color);
}
.cardDeadline {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -0.02em;
}
.cardDeadline.dark {
  color: var(--table-header-color);
}
.cardDeadline.light {
  color: rgba(22, 22, 22, 0.5);
}
.cardDeadline.violet {
  color: rgba(22, 22, 22, 0.5);
}
.bell {
  stroke: #bedbb0;
  stroke-width: 2;
  fill: none;
}

.icon {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  cursor: pointer;
}

.cardSvg {
  display: flex;
}

.color.dark {
  stroke: rgba(255, 255, 255, 0.5);
}
.color.light {
  stroke: rgba(22, 22, 22, 0.5);
  fill: none;
}
.color.violet {
  stroke: rgba(22, 22, 22, 0.5);
  fill: none;
}

@media screen and (max-width: 374px) {
  .card {
    width: calc(100vw - 40px);
  }
}
