.title {
  font-family: 'Poppins-Medium';
  font-size: 18px;
  letter-spacing: -0.02em;
}

.title.light,
.title.violet,
.titles.light,
.titles.violet {
  color: var(--secondary-color);
}

.title.dark,
.titles.dark {
  color: var(--white);
}

.form {
  width: 302px;
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0 40px;
}

.iconsContainer,
.backgroundsContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.radioGroup {
  display: flex;
  gap: 8px;
}

.radioLabel {
  cursor: pointer;
  user-select: none;
}

.radioInput {
  display: none;
}

.radioInput:checked + .radioLabel .icon.light,
.radioInput:checked + .radioLabel .icon.violet {
  stroke: var(--secondary-color);
}

.radioInput:checked + .radioLabel .icon.dark {
  stroke: var(--white);
}

.icon {
  fill: transparent;
}

.icon.dark {
  stroke: rgba(255, 255, 255, 0.5);
}

.icon.active.dark {
  stroke: var(--white);
}

.icon.light,
.icon.violet {
  stroke: rgba(22, 22, 22, 0.5);
}

.icon.active.light,
.icon.active.violet {
  stroke: var(--secondary-color);
}

.backgrounds {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 260px;
}

.radioInput:checked + .radioLabelBgr {
  width: 27px;
  height: 27px;
  border: 2px solid var(--green);
  border-radius: 8px;
  overflow: hidden;
}

.noImg {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noImg.dark {
  background-color: var(--black);
}

.noImg.light {
  background-color: var(--gray);
}

.noImg.violet {
  background-color: var(--violet-medium);
}

.noBgrIcon {
  fill: transparent;
  stroke: rgba(22, 22, 22, 0.1);
}
