.text {
  font-size: 36px;
  font-weight: 500;
  color: var(--secondary-color);
  margin-bottom: 24px;
}

.page {
  display: flex;
  min-height: 100vh;
  flex: 1;
}

.normalWidth {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: stretch; */
  flex: 1;
}

.page {
  display: flex;
  align-items: stretch;
}
