.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.username {
  font-size: 16px;
  font-weight: 700;
}

.button {
  font-size: 14px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 8px;
  color: var(--primary-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.button:hover {
  background-color: var(--btn-accent-color);
}
